docs/
src/
test/
.prettierrc
.prettierignore
.gitignore
tsconfig.json
typedoc.js
yarn.lock
renovate.json
lib/test
renovate.json
.DS_Store
.vscode
*.tgz
.eslintrc
.github/
dist/test/
config/
coverage/
.eslintignore
